<h1><%= @post.title %></h1>
<%= simple_format(@post.body) %>

<% if @post.comments.any? %>
  <h2>Comments</h2>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %>
    </li>
    <% end %>
  </ul>
<% end %>

<p class="back-link"><%= link_to "Back", root_path %></p>